.add {
  background-color: green;
  border: 0;
  height: 2.5rem;
  width: 3.5rem;
  border-radius: 4px;
  cursor: pointer;
}
.getPosition {
  background-color: green;
  z-index: 100;
  position: absolute; /* Position it within the .map */
  top: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  padding: 10px;
  cursor: pointer;
}
