.add {
  background-color: green;
  border: 0;
  height: 2.5rem;
  width: 3.5rem;
  border-radius: 4px;
  cursor: pointer;
}
.getPosition {
  background-color: rgb(69, 165, 69);

  position: absolute; /* Position it within the .map */

  left: 50%;
  z-index: 1000;
  cursor: pointer;
  top: 80%;
  border: 0;
  padding: 5px;
  border-radius: 5px;
  font-size: 1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  transform: translateX(-50%);
}

.logout {
  height: 70%;
  width: fit-content;

  font-size: smaller;
}
