.form {
  border: 2px solid white;
  height: fit-content;

  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 5px;
}
.btns {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.form form {
  padding: 5px;
  height: fit-content;
  width: fit-content;
}

.form label {
  font-size: smaller;
}

.form input {
  height: 2rem;
  font-size: smaller;
  width: 100%;
}
.loading {
  opacity: 0.2;
}
